/* src/App.css */
/* 
* {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1 {
  font-size: 28px;
  color: teal;
  margin: 0;
  font-weight: 700;
}

.policy-content h2 {
  color: #343434;
  font-size: 20px;
  font-weight: 700;
}

.policy-content p {
  line-height: 1.6;
  color: #454545;
  font-weight: 400;
} */