/* src/index.css */
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.app-container {
  font-family: 'Montserrat', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #fff; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
}

.app-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.app-icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 8px;
}

.policy-content section {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

h1 {
  font-size: 28px;
  font-weight: 700; 
  color: teal;
}

.policy-content h2 {
  font-weight: 400; 
  color: teal;
}

.policy-content p {
  font-weight: 400; 
  line-height: 1.6;
}